.services {
    padding-top: 120px;
}

.services_header {
    h3 {
        margin-bottom: 18px;
    }
}

.services_cards {
    width: 100%;
    padding-top: 60px;

    display: grid;
    gap: 40px;
    grid-template-columns: repeat(2, 1fr);
    
}

.services_card {
    border: 2px solid $black;
    padding-top: 32px;
    padding-left: 32px;
    padding-bottom: 28px;

    h4 {
        font-size: 31px;
        line-height: 40px;
        margin-bottom: 28px;
        letter-spacing: 0.64px;
    }

    p {
        font-size: 18px;
        line-height: 32px;
    }
}